# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
*.csproj.user
**/bin/**
**/obj/**
*.dbmdl
*.jfm

# ASP.NET
logs/
aspnetcore-browser-refresh.js

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vs/
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Test
coverage/
*.testresult
